<template>
    <div>
        <div class="row">
            <div class="col-md-8">
                <article v-for="post in posts" :id="post.id" class="pt-30 pb-20 border-bottom row pb-5 pt-5">
                    <div v-if="post.url_imagem" class="col-xs-12 col-sm-4 col-md-4 col-lg-3 border-left-info w-100">
                        <router-link :to="'/post/' + post.id" class="row row-product">
                            <img height="150" :src="post.url_imagem" :alt="post.title">
                        </router-link>
                    </div>
                    <div :class="post.url_imagem ? 'col-xs-12 col-sm-8 col-md-8 col-lg-9 p-4 pt-4' : 'col-md-12 p-4 pt-4 border-left-info'">
                        <div class="text-dark infos">
                            <i class="fa-solid fa-clock"></i>
                            <time class="entry-date published mr-2">{{formatDateValue(post.created_at, true)}}</time>

                            <i class="fa-solid fa-user"></i>
                            <span class="tupp" v-if="post.user_created">
                                {{post.user_created.name + ' - ' + post.user_created.email}}
                            </span>
                            <span class="infos ml-2">
                                <i class="fa-solid fa-eye"></i>
                                {{post.views}}
                            </span>
                        </div>
                        <h1 class="title">
                            <router-link :to="'/post/' + post.id" class="row row-product">
                                {{post.title}}
                            </router-link>
                        </h1>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <div class="col-xs-12">
                    <div class="div_lateral ml-2">
                        <h2 class="title m-0 p-0 mt-3 mb-3">Postagens + lidas</h2>
                        <ul class="p-0 m-2">
                            <li class="row mb-3" v-for="postmaislido in posts_mais_lidos" :id="postmaislido.id">
                                <div v-if="postmaislido.url_imagem" class="col-3 col-xs-3 col-md-3 p-0 m-0">
                                    <a :href="'/post/' + postmaislido.id" class="row row-product">
                                        <img width="100" height="100" :src="postmaislido.url_imagem" :alt="postmaislido.title" class="img-destaque">
                                    </a>
                                </div>
                                <div :class="postmaislido.url_imagem ? 'col-9 col-xs-9 col-md-9 pl-4' : 'col-12 col-md-12 pl-4'">
                                    <a :href="'/post/' + postmaislido.id" class="row row-product">
                                        {{postmaislido.title}}
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                posts: [],
                post: {},
                modal: false,
                posts_mais_lidos: {}
            }
        },
        methods: {
            listar() {
                axios.get('/api/posts').then(response => {
                    this.posts = response.data;
                });
            },
            apenas(id) {
                axios.get('/api/posts/' + id).then(response => {
                    this.post = response.data;
                });
            },
            maisLidas(limit) {
                axios.get('/api/mostreadposts/' + limit).then(response => {
                    this.posts_mais_lidos = response.data;
                });
                console.log(this.posts_mais_lidos);
            },
            formatDateValue(value, hora=false) {
                return hora ? moment(String(value)).format('DD/MM/YYYY H:mm:ss') : moment(String(value)).format('DD/MM/YYYY');
            }
        },
        mounted() {
            this.listar();
            this.maisLidas(5);
        }
    }
</script>

<style>
    .item {
        border: 1px solid #ccc;
    }

    .post {
        position: absolute;
        top: 0;
        left: 50%;
        z-index: 99;
        width: 800px;
        height: auto;
        margin-left: -400px;
        padding: 10px;
        background-color: #eaeaea;
        color: #333;
        border: 1px solid #6E6E6E;

    }
    article a:hover {
        text-decoration: none;
    }

    article .border-left-info {
        border-left: 10px solid #0391db;
    }

    article .title {
        font-size: 1.5em;
    }

    article h2.infos {
        font-size: 1em;
    }

    article img { max-height: 150px; max-width: 320px;}
</style>
