<template>
    <div>
        <div class="row">
            <div class="col-xs-12 col-lg-8">
                <article :id="post.id" class="row p-2 pb-3 m-t-3">
                    <h2 class="d-block col-md-12 p-0 mt-1 mb-3">
                        {{post.title}}
                    </h2>

                    <p class="p-0 m-0 mb-3">Situação impacta o abastecimento de água em pelo menos oito bairros</p>

                    <div class="text-dark mb-3 info_article">
                        <i class="fa-solid fa-clock"></i>
                        <time class="entry-date published">{{formatDateValue(post.created_at, true)}}</time>

                        <i class="fa-solid fa-user ml-2"></i>
                        <span v-if="post.user_created">
                            {{post.user_created.name + ' - ' + post.user_created.email}}
                        </span>
                    </div>

                    <div v-if="post.url_imagem" class="text-center pb-5">
                        <img :src="post.url_imagem" class="img-responsive" :alt="post.title">
                    </div>


                    <div class="mb-3" v-html="post.body">
                    </div>

                    <h6>Tags relacionadas</h6>
                    <ul class="tags d-flex">
                        <li v-for="tag in post.tags">
                            <a href="#" :title="'Acesse os conteúdos com esta mesma tag: ' + tag.tag.name">{{ tag.tag.name }}</a>
                        </li>
                    </ul>
                </article>
            </div>
            <div class="col-xs-12 col-lg-4">
                <div class="div_lateral ml-2">
                    <h2 class="title m-0 p-0 mt-3 mb-3">Últimas Postagens</h2>
                    <ul class="p-0 m-2">
                        <li class="row mb-3" v-for="lastpost in posts_last" :id="lastpost.id">
                            <div v-if="lastpost.url_imagem" class="col-3 col-xs-3 col-md-3 p-0 m-0">
                                <a :href="'/post/' + lastpost.id" class="row row-product">
                                    <img width="100" height="100" :src="lastpost.url_imagem" :alt="lastpost.title" class="img-destaque">
                                </a>
                            </div>
                            <div :class="lastpost.url_imagem ? 'col-9 col-xs-9 col-md-9 pl-4' : 'col-12 col-md-12 pl-4'">
                                <a :href="'/post/' + lastpost.id" class="row row-product">
                                    {{lastpost.title}}
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-1">
                <router-link :to="'/'" class="pl-2">
                    <button type="button" class="btn btn-sm btn-primary">VOLTAR</button>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            id: {
                type: Number
            },
            limit : {
                type: Number,
                default: 5
            }
        },
        data() {
            return {
                post: {},
                posts_last: {}
            }
        },
        methods: {
            show(id) {
                axios.get('/api/posts/' + id).then(response => {
                    this.post = response.data;
                });
            },
            lastPosts(limit) {
                axios.get('/api/lastposts/' + limit).then(response => {
                    this.posts_last = response.data;
                });
            },
            formatDateValue(value, hora=false) {
                return hora ? moment(String(value)).format('DD/MM/YYYY H:mm:ss') : moment(String(value)).format('DD/MM/YYYY');
            },
        },
        mounted() {
            this.show(this.id ? this.id : this.$route.params.id);
            this.lastPosts(this.limit);
        }
    }
</script>

<style>
    .item {
        border: 1px solid #ccc;
    }

    .post {
        position: absolute;
        top: 0;
        left: 50%;
        z-index: 99;
        width: 800px;
        height: auto;
        margin-left: -400px;
        padding: 10px;
        background-color: #eaeaea;
        color: #333;
        border: 1px solid #6E6E6E;

    }

    .post a {
        float: right;
        color: red;
    }

    article .border-left-info {
        border-left: 10px solid #0391db;
    }

    article .info_article {
        border-top: 1px solid #929292;
        padding-top: 1em;
    }

    article ul li { list-style-type: none; margin-left: 1em; }

    @media (max-width: 768px) {
        article img { max-width: 300px; max-height: 250px; }
    }

    @media (min-width: 769px) {
        article img { max-width: 700px; max-height: 600px; }
    }

    .div_lateral {
        font-size: 1em;
    }
    .div_lateral .title {
        font-size: 1em;
        text-transform: uppercase;
    }

    .div_lateral .img-destaque {
        text-align: left;
    }

    .div_lateral a:hover {
        text-decoration: none;
    }
</style>
